.section {
  margin-bottom: 150px;

  @media (max-width: 768px) {
    margin-bottom: 80px;
  }

  .content {
    margin-bottom: 80px;

    .title {
      font-size: clamp(30px, 4vw, 50px);
      margin-bottom: 20px;
    }

    .text {
      max-width: 55%;
      font-size: clamp(18px, 1.2vw, 22px);
      line-height: 1.3;
    }

  }

}