.privacyPolicy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  gap: 20px;

  @media (max-width: 1070px) {
    font-size: 12px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    gap: 18px;
    font-size: 14px;
  }

  .sign {
    opacity: 0.4;
  }

  .text {
    color: #fff;
  }

}