.yearMessage {
  padding-bottom: 45px;

  .video {
    max-width: 918px;
    width: 100%;
    aspect-ratio: 1.72 / 1;
    max-height: 589px;
    border-radius: 30px;
    overflow: hidden;
    max-height: 511px;

    @media (max-width: 1070px) {
     aspect-ratio: 1.78 / 1; 
    }

    @media (max-width: 768px) {
    border-radius: 13px; 
    }

  }

}