* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: #191919;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-height: 100dvh;

  @media (max-width: 1070px) {
    padding: 12px;
  }

  @media (max-width: 768px) {
    padding: 0px;
  }

}

main {
  flex-grow: 1;
}

.container-small {
  max-width: 1375px;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 90%;
  }

}

.container {
  max-width: 1443px;
  width: 92%;
  margin: 0 auto;
}

.children-page {

  border-radius: 100px;

  @media (max-width: 1600px) {
    border-radius: 50px 50px 0 0;
  }

  @media (max-width: 1070px) {
    border-radius: 30px;
  }

  @media (max-width: 768px) {
    border-radius: 0 0 15px 15px;
  }

}

.team,
.docs {
  @media (max-width: 1600px) {
    border-radius: 50px;
  }
  @media (max-width: 768px) {
    border-radius: 0 0 15px 15px;
  }
}

.team,
.contacts,
.valuation,
.foundation,
.event,
.thanks,
.donation,
.docs {
  background-color: #fff;
}