.swiper-button-next,
.swiper-button-prev {
  top: -38px !important;
  width: 40px !important;
  height: 40px !important;
  border: 1px solid #333333 !important;
  border-radius: 100px;

  @media (max-width: 768px) {
    top: -50px !important;
  }

  &::after {
    content: '' !important;
    width: 17px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

}

.swiper-button-next {
  right: 34px !important;

  @media (max-width: 768px) {
    right: 4px !important;
  }

  &::after {
    background-image: url('/img/svg/black-arrow.svg');
  }

}

.swiper-button-prev {
  left: auto !important;
  right: 94px !important;

  @media (max-width: 768px) {
    right: 60px !important;
  }

  &::after {
    background-image: url('/img/svg/black-arrow.svg');
    transform: rotate(180deg);
  }

}

.swiper-scrollbar-drag {
  background-color: #fff !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background-color: #fff !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
  background-color: #ffffff !important;
}