.event {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 80px;
  height: 100%;
  aspect-ratio: 2.1 / 1;
  padding: 6%;
  background-color: #b0b0b0;
  z-index: 5;
  margin-top: -20%;
  -webkit-box-shadow: 0px -20px 57px -43px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -20px 57px -43px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -20px 57px -43px rgba(0, 0, 0, 0.75);
  transition: transform .75s ease;
  // cursor: none;

  @media (max-width: 1070px) {
    // margin-top: -150px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    -webkit-transform: translateY(-90px);
    -ms-transform: translateY(-90px);
    transform: translateY(-90px);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    pointer-events: none;
  }

  .wrapper {
    position: relative;
    z-index: 2;

    .title {
      color: #fff;
      font-size: clamp(40px, 4vw, 80px);
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 32px;
    }

    .descriptionBox {
      max-width: 75%;

      .description {
        color: #fff;
        font-size: clamp(20px, 1.9vw, 22px);
      }

    }

  }

  .background {
    position: relative;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

}

.up {}