.whiteBox {
  position: relative;
  background-color: #fff;
  border-radius: 100px 100px 0 0;
  padding-top: 96px;
  margin-top: -96px;

  @media (max-width: 1680px) {
    margin-top: -70px;
    padding-top: 70px;
  }

}