.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterBtn {
  padding: 20px;
  border-radius: 100px;
  font-size: 16px;
  transition: all .15s ease;

  &:hover {
    background: #636363;
    color: white;
  }
}

.filterBtn.active {
  background-color: #007bff;
  color: white;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.submitBtn {
  all: unset;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  padding: 20px 30px;
  border-radius: 100px;
  font-size: 18px;
  text-transform: uppercase;
  transition: all .15s ease;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: #000;
  }
}

.checkboxLabel {
  display: flex;
  gap: 20px;
  align-items: start;
}

.additionalRegister {
  position: relative;
  min-height: 433px;
  padding: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: #f3f4f9;
  overflow: hidden;
  color: #000;
  margin-bottom: 80px;
  margin-top: -110px;
}

.btn {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 100px;
  padding: 20px 30px;
  transition: all .15s ease;
  color: #fff;
  background-color: #000000;

  @media (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    background-color: #FFAC00;
    color: #fff;
  }

}

.title {
  font-size: clamp(16px, 3.5vw, 20px);
  margin-bottom: 10px;
}

.regItem {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}