.burger {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: none;

  @media (max-width: 1070px) {
    display: flex;
  }

  @media (max-width: 768px) {
    width: 60px;
    height: 60px;
    gap: 6px;
  }

  .burgerLine {

    height: 1px;
    background-color: #fff;

    &:nth-child(even) {
      width: 45px;

      @media (max-width: 768px) {
        width: 25px;
      }

    }

    &:nth-child(odd) {
      width: 36px;

      @media (max-width: 768px) {
        width: 20px;
      }

    }

  }

}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background-color: #191919;
  opacity: 1;
  overflow: hidden;
  z-index: 99999999;
  transform: translateY(-100%);
  transition: all .7s ease;

  .header {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;

    @media (max-width: 1070px) {
      top: 50px;
    }

    @media (max-width: 768px) {
      top: 30px;
    }

  }

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headerClose {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: transparent;
    outline: none;

    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
      gap: 6px;
    }

    .headerCloseLine {
      position: absolute;
      height: 1px;
      background-color: #fff;
      left: 22px;

      @media (max-width: 768px) {
        left: 17px;
      }

      &:nth-child(1) {
        top: 43px;
        width: 45px;
        transform: rotate(45deg);

        @media (max-width: 768px) {
          top: 28.5px;
          width: 25px;
        }
      }

      &:nth-child(3) {
        top: 43px;
        width: 45px;
        transform: rotate(-45deg);

        @media (max-width: 768px) {
          top: 28.5px;
          width: 25px;
        }
      }

    }

  }

  .listBox {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .link {
      font-size: 18px;
      color: #fff;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all .15s ease;
      padding: 10px;
    }

  }

}

.childrenLinksList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.linkWithMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submenuLink {
  color: #ffffffa9 !important;
  font-size: 16px;
  padding: 10px 10px;
}

.youtube {
  margin-top: 15px;
}

.open {
  transform: translateY(0%);
}

.black {
  border: 1px solid #000000;
}

.rotate {
  transform: rotate(-180deg);
}