.footer {
  padding: 160px 0;
  color: #fff;
  background-color: #191919;

  @media (max-width: 768px) {
    padding: 100px 0;
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 35px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 40px;
    }

    .meta {

      @media (max-width: 768px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }


      .logo {
        margin-bottom: 48px;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 48px;

        .infoText {
          font-size: clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5625rem);
          color: #fff;
        }

      }

      .socials {
        margin-bottom: 10px;
      }

    }

    .linksColumns {
      display: flex;
      justify-content: space-between;
      width: 65%;

      @media (max-width: 768px) {
        width: 100%;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 50px;
      }

      @media (max-width: 430px) {
        display: grid;
        grid-template-columns: repeat(2, .2fr);
        grid-template-rows: repeat(2, .2fr);
        gap: 10px;
      }

      .linkList {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 25px;

        .link {
          font-size: 16px;
          color: #fff;

          &:hover {
            text-decoration: underline;
          }

        }

        .linkListTitle {
          text-transform: uppercase;
          margin-bottom: 32px;

          @media (max-width: 430px) {
            margin-bottom: 10px;
          }

        }

      }

    }

  }

}