.customSwiper {
  overflow: visible !important;

  .slide {
    aspect-ratio: 1.4 / 1 !important;
    max-height: 300px !important;
    border-radius: 20px;
    overflow: hidden;
    max-height: 254px !important;

    @media (max-width: 1070px) {
      aspect-ratio: 1.8 / 1 !important;
      max-height: unset !important;
    }

    @media (max-width: 768px) {
      aspect-ratio: 1.8 / 1 !important;
      border-radius: 10px;
    }

  }

}