.customSwiper {
  overflow: visible !important;

  .slide {
    aspect-ratio: 1.4 / 1 !important;
    max-height: 300px !important;

    @media (max-width: 1070px) {
      aspect-ratio: unset;
    }

    @media (max-width: 768px) {
      aspect-ratio: 1.8 / 1 !important;
    }

  }

}