.nav {
  position: relative;
  display: block;
  background-color: #101010;
  border-radius: 500px;
  width: fit-content;
  padding: 9.5px 12px;
  z-index: 999;

  @media (max-width: 1281px) {
    padding: 6px 9px;
  }

  @media (max-width: 1070px) {
    display: none;
  }

  .list {
    position: static;
    display: flex;
    align-items: center;
    gap: 5px;

    .item {
      position: static;
    }

  }

  .link {
    position: static;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 12px 16px;
    color: #fff;
    transition: all .15s ease;
    background-color: transparent;

    @media (max-width: 1281px) {
      font-size: 14px;
      padding: 9px 13px;
    }

    &:hover {
      border-color: #fff;
    }

  }

}

.layout {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -70px;
  z-index: 1;
}

.submenu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding: 25px;
  // padding-top: 80px;
  border-radius: 0px 0px 25px 25px;
}